$headerBackground: #f6f6f6;
$buttonInitial: #2ac0bc;
$buttonHover: #209a96;
$buttonFocus: #2ac0bc;
$buttonDisable: #a0e0df;
$bordrColor: #b4b4b46e;
$Primary: #5ebebb;
$grey: #bcbcbc;
$backgroundGrey: #f6f6f6;
$bordrColor2: #d7d7d7;
$baemin: #2ac0bc;

.disabled {
  pointer-events: none;
}

.slide {
  position: absolute;
  left: 375px;
  top: 0px;
  width: 375px;
  height: 667px;
  background-color: #fff;
}

.slide-in {
  left: 0px;
  transition: left 0.3s ease-out;
}

.slide-out {
  left: 375px;
  transition: left 0.3s ease-out;
}

.none-in {
  left: 0px;
}
// .slide-in-none {
//   left: 0px !important;
// }

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: $headerBackground;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 1rem;
    height: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
}

.large-button {
  margin-bottom: 1rem;

  &:hover {
    background-color: $buttonHover;
  }

  &:focus {
    background-color: $buttonFocus;
  }

  &:disabled {
    background-color: $buttonDisable;
  }

  background-color: $buttonInitial;
  width: 100%;
  font-size: 1rem;
  padding: 1.1rem 0;
  color: white;
  border-radius: 10px;
}

.medium-button {
  margin-bottom: 1rem;

  &:hover {
    background-color: $buttonHover;
  }

  &:focus {
    background-color: $buttonFocus;
  }

  &:disabled {
    background-color: $buttonDisable;
  }

  background-color: $buttonInitial;
  width: 170px;
  font-size: 1rem;
  padding: 0.5rem 0;
  color: white;
  border-radius: 10px;
}

.text-input {
  margin-bottom: 1rem;
  text-align: left;

  label {
    display: block;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
  }

  input {
    width: 100%;
    font-size: 1rem;
    padding: 1.1rem 0;
    border-radius: 10px;
    border: 1px solid $bordrColor;
    padding: 1rem;
  }
}

.home-header {
  display: flex;
  justify-content: space-between;
  background-color: $Primary;
  border-bottom-left-radius: 1.2rem 1.2rem;
  border-bottom-right-radius: 1.2rem 1.2rem;
  padding: 1.1rem;
  color: #fff;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .location-div {
    font-size: 1.1rem;
    cursor: pointer;
    div {
      margin-left: 0.2rem;
    }
  }

  .btn1 {
    color: #000;
  }
  .btn2 {
    color: #000;
  }
}

.img-box {
  .border-medium {
    width: 8rem;
    height: 8rem;
    border-radius: 10%;
    border: 1px solid $bordrColor2;
    background-color: #f6f6f6;
  }

  .border-medium2 {
    //TODO: 얘가 medium이고 원래꺼는 large ㅠㅠ
    width: 6rem;
    height: 6rem;
    border-radius: 10%;
    border: 1px solid $bordrColor2;
    background-color: #f6f6f6;
  }

  .border-small {
    width: 3rem;
    height: 3rem;
    border-radius: 10%;
    border: 1px solid $bordrColor2;
    background-color: #f6f6f6;
  }
}

.product-list-item {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid $bordrColor;
  cursor: pointer;
  .img-box {
    margin-right: 1rem;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  .product-top {
    display: flex;
    justify-content: space-between;
  }
  .product-title-bar {
    margin-top: 0.3rem;
    text-align: left;
    width: 100%;
    div {
      margin-bottom: 0.7rem;
    }
    .product-title {
      font-size: 1.2rem;
      font-weight: 500;
      width: 9rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .product-location {
      color: gray;
    }
  }
  .product-favorite {
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.product-status-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;

  img {
    width: 1rem;
    height: 1rem;
    margin: 0 0.3rem;
  }

  .flex {
    align-items: baseline;
  }
}

.with-action {
  justify-content: space-between;
  h1 {
    position: inherit;
  }
}

.newpost-form {
  display: flex;
  flex-direction: column;
  color: #888888;

  textarea {
    border: none;
    margin: 1.5rem 1.5rem 0 1.5rem;
    padding-top: 1rem;
    outline: none;
  }

  input {
    &:first-child {
      border-top: 1px solid $bordrColor2;
    }

    border-top: 1px solid $bordrColor2;

    border-bottom: 1px solid $bordrColor2;
    padding: 2rem 0;
    margin: 0rem 1.5rem;
  }
}

.img-picker {
  margin: 1.5rem 0;
  img {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.flex-column {
  flex-direction: column;
}

.img-list {
  margin: 0 1.3rem;
}

.location-bar {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 0.5rem 1.3rem;
  border-top: 1px solid $bordrColor2;
  position: absolute;
  bottom: 0;
  width: 100%;
  img {
    width: 1.2rem;
    height: 1.2rem;
    padding-right: 0.2rem;
  }
  div {
    padding-top: 0.2rem;
  }
}

.fab-button {
  position: absolute;
  left: calc(375px - 4.5rem);
  top: calc(669px - 4.5rem);
  border-radius: 50%;
  background-color: #2ac1bc;
  width: 3rem;
  height: 3rem;
  img {
    width: 1rem;
    height: 1rem;
  }
}

.fab-button:hover {
  background-color: #209a96;
}

.tab-bar {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid $bordrColor2;
  .tab-title {
    cursor: pointer;
    padding: 0.7rem 1rem;
  }
  .tab-select {
    border-bottom: 2px solid #2ac1bc;
    color: #2ac1bc;
  }
}

.chatlist-item {
  display: flex;
  align-items: center;
  margin: 0 1.2rem;
  padding: 1.2rem 0;
  border-bottom: 1px solid gray;
  cursor: pointer;
  .chat-div {
    width: 100%;
  }
  .chat-row {
    padding-right: 1.2rem;
    padding-top: 0.5rem;
  }
  div > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .chat-agoTime {
    color: #888888;
  }
  .chat-preview {
    color: #888888;
    text-align: left;
  }
  .chat-badge {
    min-width: 1.3rem;
    height: 1.3rem;
    background-color: #219a95;
    border-radius: 1.3rem;
    padding: 0.2rem;
    text-align: center;
    display: block;
    line-height: 1.1rem;
    color: #fff;
  }
}

.chatdetail-product {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  border-bottom: 1px solid #d7d7d7;
  .chatdetail-row {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    padding-left: 0.6rem;
    .chatdetail-price {
      color: #888888;
    }
  }
  .chatdetail-status {
    width: 8rem;
    height: 2.9rem;
    border: 1px solid #d7d7d7;
    border-radius: 0.5rem;
  }
}

.chatdetail {
  z-index: 2;
  overflow-y: hidden;
}

.msg-container {
  height: 455px;
  overflow: scroll;
  overflow-x: hidden;
  //고쳐야함
  //TODO: 폰트 크기 변경
  .msg-left {
    display: flex;
    justify-content: flex-start;
  }
  .msg-right {
    display: flex;
    justify-content: flex-end;
  }
  .msg-receive {
    border: 1px solid #2ac1bc;
    border-radius: 0px 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem;
    margin: 1rem 1rem 0 1rem;
  }

  .msg-send {
    background: #2ac1bc;
    border-radius: 0.5rem 0px 0.5rem 0.5rem;
    color: #fff;
    padding: 0.5rem;
    margin: 1rem 1rem 0 1rem;
  }
  .msg-padding {
    padding: 0.5rem;
  }
}

.msg-input-div {
  background-color: #f6f6f6;
  border-top: 1px solid #d7d7d7;
  height: 55px;
  display: flex;
  justify-content: space-between;

  input {
    border: 1px solid #d7d7d7;
    border-radius: 0.5rem;
    margin: 0.5rem;
    width: 100%;
    padding: 0 0.5rem;
  }
  .send-msg-button {
    margin: 0.5rem 0.7rem 0.5rem 0.2rem;
    img {
      width: 1.5rem;
    }
  }
}

.dropdown {
  cursor: pointer;
  margin-top: 0.5rem;
  position: absolute;
  right: 25px;
  background-color: #f6f6f6;
  width: 200px;
  border-radius: 10px;

  & > :first-child {
    border-bottom: 1px solid $bordrColor;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & > :nth-child(2) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  & > * {
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    width: 200px;

    &:hover {
      background-color: #7a7a7a;
    }
  }
}

.dropdown-home {
  left: 85px;
  top: 50px;
}

.complete {
  filter: invert(56%) sepia(100%) saturate(291%) hue-rotate(130deg)
    brightness(91%) contrast(103%);
}

.red {
  color: red;
}

.none {
  display: none;
}

.chatdetail-product {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  border-bottom: 1px solid #d7d7d7;
  .chatdetail-row {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    padding-left: 0.6rem;
    .chatdetail-price {
      color: #888888;
    }
  }
  .chatdetail-status {
    width: 8rem;
    height: 2.9rem;
    border: 1px solid #d7d7d7;
    border-radius: 0.5rem;
  }
}

.chatdetail {
  overflow-y: hidden;
}

.msg-container {
  height: 455px;
  overflow: scroll;
  overflow-x: hidden;
  //고쳐야함
  //TODO: 폰트 크기 변경
  .msg-left {
    display: flex;
    justify-content: flex-start;
  }
  .msg-right {
    display: flex;
    justify-content: flex-end;
  }
  .msg-receive {
    border: 1px solid #2ac1bc;
    border-radius: 0px 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem;
    margin: 1rem 1rem 0 1rem;
  }

  .msg-send {
    background: #2ac1bc;
    border-radius: 0.5rem 0px 0.5rem 0.5rem;
    color: #fff;
    padding: 0.5rem;
    margin: 1rem 1rem 0 1rem;
  }
  .msg-padding {
    padding: 0.5rem;
  }

  .msg-0 {
    display: flex;
    justify-content: center;
  }

  .msg-0-content {
    all: unset;
    background-color: #d7d7d7;
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
    border-radius: 15px;
    margin: 1rem;
  }
}

.msg-input-div {
  background-color: #f6f6f6;
  border-top: 1px solid #d7d7d7;
  height: 55px;
  display: flex;
  justify-content: space-between;

  input {
    border: 1px solid #d7d7d7;
    border-radius: 0.5rem;
    margin: 0.5rem;
    width: 100%;
    padding: 0 0.5rem;
  }
  .send-msg-button {
    margin: 0.5rem 0.7rem 0.5rem 0.2rem;
    img {
      width: 1.5rem;
    }
  }
}

.location {
  .location-button {
    display: flex;
    border-radius: 0.5rem;
    width: 9.5rem;
    height: 2.5rem;
    background-color: #2ac1bc;
    align-items: center;
    color: #ffffff;
    justify-content: center;
    .location-name {
      padding-right: 4rem;
    }
    img {
      width: 1rem;
    }
  }

  .location-add-button {
    border-radius: 0.5rem;
    width: 9.5rem;
    height: 2.5rem;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #2ac1bc;
    img {
      width: 1rem;
    }
  }

  .location-div {
    display: flex;
    justify-content: space-evenly;

    .sub {
      color: #2ac1bc;
      background-color: #fff;
      border: 1px solid #2ac1bc;
    }
  }

  .location-notice {
    color: #828282;
    padding: 1rem 0;
  }
}
.modal {
  z-index: 10;
  position: absolute;
  left: 0;
  width: 375px;
  height: 667px;
  top: 0;
  background-color: rgba($color: #222222, $alpha: 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  .location-box {
    background: #f6f6f6;
    height: 9.5rem;
    width: 20rem;
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: center;
    .modal-input {
      border-radius: 0.5rem;
      border: 1px solid #d7d7d7;
      height: 2.5rem;
      padding: 0 0.5rem;
      margin: 0.5rem 1rem 1rem 1rem;
    }
    .modal-confirm {
      color: #888888;
    }
    .confirm {
      color: #2ac0bc;
    }
  }
  .modal-box {
    background: #f6f6f6;
    height: 9.5rem;
    width: 20rem;
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .modal-title {
    text-align: left;
    padding-left: 1.5rem;
  }
  .modal-bottom-bar {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem 0 1rem;
  }
  .modal-confirm {
    color: red;
  }
  .modal-msg {
    padding-left: 1.5rem;
    text-align: left;
  }
}

.hidden {
  display: none;
}

.snackbar {
  position: absolute;
  top: 70px;
  width: fit-content;
  transform: translate(-50%);
  left: 50%;
  opacity: 0;
  transition: 0.2s ease;
  color: white;
  background-color: #333;
  border-radius: 0.2rem;
  padding: 1rem;
  z-index: 100;
}

.show-snackbar {
  opacity: 1;
  transition: 0.2s ease;
}

.chatlist-prev {
  position: absolute;
  width: 100%;
}

.last-padding {
  padding: 0.6rem;
}

.notfound {
  overflow: hidden;
  .notfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-bottom: 4rem;
    justify-content: flex-end;
  }
  .notfound-title {
    width: 110px;
    height: 123px;
  }
  .notfound-msg {
    padding-top: 2rem;
    padding-bottom: 8rem;
  }
  .notfound-char {
    width: 229px;
    height: 243px;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  .empty-banner {
    width: 204px;
    height: 215px;
    padding-bottom: 1.5rem;
  }
}

.productchatlist {
  z-index: 1;
}
